body {
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-size: 16px;
    line-height: 1.22;
    background-image: url("../images/bg.jpg");
    background-size: 100%;
}
@font-face {
    font-family: 'cambria';
    src: url('../fonts/cambria.ttc');
}
a, button {
    transition: all .3s linear;
}
a:hover {
    color: #fdc32e;
    text-decoration: none;
}
a:focus {
    text-decoration: none;
}
.header-page {
    background-image: url("../images/header-bg.jpg");
    margin-bottom: 20px;
}
.header-flex-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-weight: bold;
}
.header-logo {
    width: 200px;
}
.header-logo img {
    width: 100%;
}
.header-phone {
    justify-content: center;
}
.header-flex-block a {
    color: #fff;
}
.header-work-time-block, .header-address-block, .header-phone {
    display: flex;
}
.header-icon {
    margin-right: 20px;
}
.header-address-text a {
    display: block;
}
.container-relative {
    position: relative;
    padding: 20px 0;
}
.cart-sum-block {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}
.header-cart-buy a {
    color: #fff;
    border: 2px solid transparent;
    border-image: linear-gradient(#f4ce76 , #caa15e);
    border-radius: 5px;
    border-image-slice: 1;
    padding: 2px 20px;
}
.header-cart-buy a:hover {
    background: linear-gradient(#f4ce76 , #caa15e);
    color: #000;
}
.cart-absolut-number {
    background: linear-gradient(to right, #dfb64e , #b38346);
    border-radius: 50px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 6px;
    right: -12px;
}
.cart-image-number {
    position: relative;
    margin-right: 25px;
}
.main-banner-block {
    position: relative;
}
.header-cart {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navbar-default {
    background-color: transparent;
    border: none;
}
.navbar-collapse {
    padding: 0;
}
.navbar-default .navbar-nav > li > a {
    color: #381a14;
    font-size: 16px;
    padding-left: 5px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #e2b969;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover {
    background-color: transparent;
    color: #e2b969;
    padding-left: 5px;
}
.navbar-default .navbar-nav > .active a::after {
    content: '';
    width: 100%;
    height: 18px;
    background-image: url("../images/menu-active.png");
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    left: 0;
}
.navbar-nav > li:hover a::after {
    content: '';
    width: 100%;
    height: 18px;
    background-image: url("../images/menu-active.png");
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    left: 0;
}
.navbar-nav > li {
    margin-right: 15px;
}
.main-button-catalog {
    color: #000;
    border: 3px solid transparent;
    border-image: linear-gradient(#f4ce76 , #caa15e);
    border-radius: 5px;
    border-image-slice: 1;
    padding: 8px 20px;
    right: 30px;
    bottom: 30px;
}
.main-button-catalog:hover {
    background: linear-gradient(#f4ce76 , #caa15e);
}
.image-responsive {
    display: flex;
    justify-content: space-between;
    width: 84%;
}
.banners-image-flex {
    width: 39.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.image-banners {
    width: 59.5%;
}
.absolut-trees {
    position: absolute;
    top: 0;
    left: -70px;
    height: 600px;
}
.main-button-obj {
    color: #fff;
    border: 3px solid transparent;
    border-image: linear-gradient(#f4ce76 , #caa15e);
    border-radius: 5px;
    border-image-slice: 1;
    padding: 8px 20px;
}
.main-button-obj:hover {
    background: linear-gradient(#f4ce76 , #caa15e);
    color: #000;
}
.btn-banners-block img {
    width: 100%;
}
.btn-banners-block {
    position: relative;
}
.image-banners-width-flex {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
}
.banner-img-block img {
    width: 100%;
    margin: 50px 0px 0px;
}
.tree-banner-block img {
    max-width: 100%;
    object-fit: cover;
    width: 100%;
}
.suitcase-certificate-block .main-button-catalog:hover {
    color: #000;
}
.center-image-banner img {
    text-align: center;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
}
.relative-container {
    position: relative;
}
.shares-block-flex {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: -80px 0;
}
.shares-center {
    text-align: center;
    margin-top: 50px;
}
.title-after-img {
    position: relative;
}
.title-after-img:after {
    content: '';
    width: 100%;
    height: 18px;
    background-image: url("../images/menu-active.png");
    background-repeat: no-repeat;
    position: absolute;
    bottom: -20px;
    right: -50px;
}
.center-title {
    text-align: center;
    margin: 40px 0 40px 0;
    font-size: 28px;
    display: inline-block;
}
.nav-tabs {
    border-bottom: none;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border: none;
    color: #e2b969;
}
.nav-tabs > li > a:hover {
    border-color: transparent;
    background-color: transparent;
}
.nav-tabs > li > a:hover .image-tab-grey {
    display: none;
}
.nav-tabs > li > a:hover .image-tab-active {
    display: block;
}
.fotorama__thumbs_previews {
    background-color: transparent;
    margin-top: 40px;
}
.catalog-items-title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
}
.shares-image-santa img {
    width: 100%;
}
.shares-image-santa {
    width: 23%;
    position: relative;
    bottom: 45px;
}
.shares-link-flex-block {
    width: 77%;
}
.catalog-flex-block {
    display: flex;
    justify-content: space-between;
    box-shadow: 2px -2px 33px 0px rgba(150, 150, 150, 0.55);
    background-color: #fff;
}
.catalog-gallery {
    width: 25%;
    box-shadow: 2px -2px 33px 0px rgba(150, 150, 150, 0.55);
    padding: 20px 15px;
    z-index: 1;
    margin-top: -20px;
    margin-bottom: -20px;
    background-color: #fff;
}
.flex-catalog-items-min {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: 1px;
}
.catalog-items-min {
    width: 8%;
    margin: 0 5px 5px 0;
    border: 1px solid transparent;
}
.catalog-items-min img {
    width: 100%;
}
.tabs-size-block {
    margin-bottom: 20px;
}
.catalog-items-block {
    width: 59%;
    padding: 20px;
    box-shadow: 6px 0px 12px 0px rgba(150, 150, 150, 0.55);
}
.catalog-property {
    width: 20%;
    margin-top: 25px;
    padding-right: 20px;
}
.catalog-items-min:hover {
    border: 1px solid transparent;
    background-color: transparent;
    border-image: linear-gradient(#f4ce76 , #caa15e);
    border-image-slice: 1;
}
.btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary, .btn-default.active, .btn-default.active:hover, .btn-primary.active:hover, .btn-primary:hover, .btn-default:hover, .btn-default.active:focus, .btn-default:active:focus, .btn-primary:active:hover {
    background-color: transparent;
    color: #e2b969;
    box-shadow: none;
    border-image: linear-gradient(#f4ce76 , #caa15e);
    border-image-slice: 1;
}
.rabs label {
    width: auto;
    text-align: center;
}
.rabs label {
    background-color: transparent;
    display: flex;
    align-items: center;
    color: #000;
    padding: 4px 15px;
    cursor: pointer;
    white-space: inherit;
    font-size: 18px;
}
.btn-primary, .btn-default, .btn-default:focus, .btn-default.focus {
    border: none;
}
.btn-default:focus, .btn-default.focus {
    background-color: #fdc32e;
}
.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default, .btn-default.active.focus  {
    color: #e2b969;
    border: 2px solid transparent;
    background-color: transparent;
    border-image: linear-gradient(#f4ce76 , #caa15e);
    outline: none;
    border-image-slice: 1;
}
.form .rabs {
    display: flex;
    font-weight: bold;
}
.size-title {
    margin-bottom: 15px;
    font-size: 18px;
}
.price-block-stage {
    margin: 30px 0;
    text-align: center;
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    background: linear-gradient(to right, #f4ce76 , #caa15e);
}
.price-block-stage img {
    position: absolute;
    top: -6px;
    right: -53px;
}
.table-property td {
    padding: 14px 0;
}
.btn-catalog-buy .main-button-catalog {
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 20px;
}
.btn-catalog-buy .main-button-catalog:hover {
    color: #000;
}
.table-property {
    margin-bottom: 50px;
    margin-left: 20px;
}
.delivery-image-form {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 40px;
    height: 390px;
    justify-content: center;
    margin: 0 -50px;
    position: relative;
    left: 14px;
}
.delivery-baggage, .delivery-image-back {
    z-index: 1;
}
.title-form-delivery {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 30px;
}
.title-form-delivery .yellow-text-item {
    color: #fdc32e;
}
.delivery-text-line {
    margin-bottom: 20px;
}
.form-text-delivery-small {
    padding: 0 54px 0 38px;
}
.instagram-item img {
    width: 100%;
}
.instagram-item {
    width: 32%;
    margin-bottom: 20px;
}
.flex-instagram {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 50%;
}
.instagram-center-page {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.banner-baggage-block img {
    width: 100%;
}
.banner-baggage-block {
    margin-top: 60px;
    margin-bottom: -150px;
}
.footer-page {
    background: linear-gradient(to right, #fcab48 , #b27f41);
    color: #fff;
    position: relative;
    padding: 72px 0 100px;
}
.footer-flex-block a {
    color: #fff;
    display: block;
    margin-bottom: 10px;
}
.footer-flex-block {
    display: flex;
    justify-content: space-between;
    margin: 30px 0px;
}
.bottom-text-center {
    text-align: center;
}
.copyright-block {
    text-align: center;
    margin-bottom: 30px;
}
.footer-address-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}
.footer-address-item img {
    margin-right: 20px;
}
.footer-address {
    width: 213px;
}
.row-goods-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    position: relative;
}
.goods-modal-img img {
    width: 100%;
}
.goods-modal-img {
    width: 15%;
}
.goods-property-modal-title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}
.goods-information-block {
    width: 83%;
}
.goods-property-modal {
    display: flex;
    justify-content: space-between;
}
.goods-property-modal td {
    padding: 5px 30px 5px 0;
    width: 114px;
}
.send-modal-flex {
    display: flex;
    width: 100%;
}
.send-modal-goods {
    width: 70%;
    padding: 15px;
}
.send-modal-info {
    background-image: url("../images/tree-order.png");
    background-size: 100%;
    color: #fff;
    width: 30%;
    padding: 30px;
}
.modal-body {
    background-color: #fff;
    padding: 0;
}
.modal-content {
    background-color: transparent;
    border: 10px solid transparent;
    border-image: linear-gradient(#f4ce76 , #caa15e);
    border-image-slice: 1;
}
button.close {
    position: absolute;
    right: 5px;
    z-index: 1;
    font-size: 26px;
    color: #000;
    top: 0;
    opacity: 1;
}
.sum-modal-price {
    font-weight: bold;
    width: 80px;
    text-align: right;
}
.price-sum {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #e2e2e2;
    padding: 20px 0;
}
.button-close-modal a {
    color: #000;
    padding: 10px 20px;
    border: 2px solid transparent;
    border-image: linear-gradient(#f4ce76 , #caa15e);
    border-image-slice: 1;
}
.button-close-modal a:hover {
    background: linear-gradient(#f4ce76 , #caa15e);
}
.send-modal-title {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 20px;
}
.send-modal-info input {
    width: 100%;
    border: none;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    padding: 15px 10px;
    margin-bottom: 15px;
    color: #000;
    background-color: #efefef;
}
.cart-order-block {
    position: relative;
    top: 8px;
}
.fotorama__thumbs_previews .fotorama__thumb-border {
    border-color: #e2e2e2;
    background: transparent;
}
.btn-catalog-buy .main-button-catalog:hover img {
    filter: invert(100%);
}
.social-links img:hover {
    filter: invert(100%);
}
.send-modal-info .main-button-catalog {
    display: block;
    background: linear-gradient(#f4ce76 , #caa15e);
    color: #fff;
    padding: 12px;
    font-size: 20px;
    font-weight: bold;
}
.catalog-items-mobile {
    display: none;
}
.image-baggage-tablet {
    display: none;
}
.share-block-icon {
    text-align: center;
    margin-bottom: 20px;
}
.share-block-item {
    text-align: center;
}
.share-block-item-grey {
    background-color: #f8f8f8;
}
.share-page-block {
    display: flex;
    margin-bottom: 40px;
}
.share-block-item {
    padding: 20px;
}
.share-col {
    width: 50%;
}
.share-page-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;
}
.deliv-block-item {
    text-align: center;
    margin-bottom: 40px;
}
.delivery-row {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}
.deivery-row-img {
    width: 80px;
}
.deivery-row-text {
    width: 100%;
}
.deivery-row-text a {
    color: #fdc32e;
}
.grey-background-delivery {
    background-color: #f8f8f8;
    padding: 40px 0;
}
.title-delivery-page {
    margin: 0 0 30px 74px;
}
.contact-link-black {
    align-items: flex-start;
    margin-bottom: 40px;
}
.contact-link-black a {
    color: #000;
}
.contact-flex-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.contact-col-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contact-col-map {
    width: 40%;
    padding-left: 20px;
}
.contact-col-map img {
    width: 100%;
}
.shares-item-block {
    position: relative;
    margin-left: 20px;
    width: 31%;
}
.shares-item-icon {
    text-align: center;
    position: absolute;
    top: -30px;
    width: 100%;
}
.shares-item-title {
    text-align: center;
    position: absolute;
    bottom: 20px;
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
}
.shares-item-block img {
    width: 100%;
}
.shares-item-icon img {
    width: 60px;
}
.delivery-block-image {
    width: 100%;
}
.delivery-list-block {
    text-align: center;
}
.delivery-block {
    position: relative;
}
.deliery-list-item {
    margin-bottom: 20px;
}
.delivery-list-block p {
    font-size: 12px;
}
.deliery-list-icon {
    margin-bottom: 10px;
}
.delivery-list-block {
    position: absolute;
    bottom: 130px;
    right: 145px;
    width: 190px;
}
.video-flex-block {
    width: 50%;
    position: relative;
}
.video-block {
    display: flex;
    justify-content: center;
    margin-bottom: 140px;
}
.delivery-block {
    margin-bottom: 40px;
}
.video-text {
    position: absolute;
    left: -140px;
    transform: rotate(-90deg);
    font-size: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    bottom: 42%;
    font-family: 'cambria';
}
.tabs-catalog-link {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.tabs-catalog-link a {
    color: #7b7b7b;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.tabs-catalog-link a:nth-child(2) {
    border-right: 1px solid #e1e1e1;
    border-left: 1px solid #e1e1e1;
}
.tabs-catalog-link a:hover {
    color:#fdc32e;
}
.tabs-catalog-link img {
    margin-bottom: 5px;
}
.footer-img-top {
    width: 100%;
    margin-top: -170px;
}
.footer-img-bottom {
    width: 100%;
    position: absolute;
    bottom: -1px;
}
#catalog {
    font-size: 40px;
    margin-bottom: 80px;
    font-family: 'cambria';
}
.shares-center-right span {
    font-family: 'cambria';
    font-size: 34px;
}
.shares-center-right {
    text-align: right;
}
.number {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.number input {
    width: 40px;
    text-align: center;
    border: none;
}
.minus, .plus {
    font-size: 12px;
    border: 1px solid #e2b969;
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
}
.order-delete-btn {
    background-color: transparent;
    border: 1px solid #e2b969;
    border-radius: 4px;
    width: 100%;
}
.card-title-sum:after {
    content: 'р.';
}
.send-modal-info .main-button-catalog {
    text-align: center;
}
.send-modal-info .main-button {
    margin-top: 20px;
}
.send-modal-title img {
    width: 124.5%;
    margin-left: -30px;
}
.tree-banner-block {
    margin-bottom: 40px;
}
.tabs-catalog-link .active .image-tab-active {
    display: block;
}
.tabs-catalog-link .active .image-tab-grey {
    display: none;
}
.tabs-catalog-link .image-tab-grey {
    display: block;
}
.tabs-catalog-link .image-tab-active{
    display: none;
}
.tabs-catalog-link li a {
    text-align: center;
    display: flex;
}
.shares-link-flex-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.catalog-property .table-property {
    width: 100%;
}
.goods-scroll {
    overflow: auto;
    height: 370px;
}
.button-banners-center {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 40px;
}
.button-banners-right {
    text-align: right;
    right: 26px;
    bottom: 0;
}
.shares-page-banner img {
    width: 100%;
}
.shares-page-banner {
    position: relative;
}
.shares-page-btn a {
    color: #000;
    padding: 10px 20px;
    border: 2px solid transparent;
    border-image: linear-gradient(#f4ce76 , #caa15e);
    border-image-slice: 1;
}
.shares-page-btn a:hover {
    background: linear-gradient(#f4ce76 , #caa15e);
}
.shares-page-img img {
    width: auto;
}
.shares-page-block {
    position: absolute;
    width: 284px;
    top: 70px;
    right: 11%;
    text-align: center;
}
.shares-page-text {
    font-family: 'cambria';
    font-size: 26px;
    margin-bottom: 30px;
}
.share-page-flex-title {
    display: flex;
    align-items: center;
    background-color: #fff;
    justify-content: center;
}
.share-page-flex-title img {
    width: 46px;
    margin-right: 20px;
}
.shares-page-flex {
    display: flex;
    justify-content: space-between;
}
.shares-page-flex-item {
    width: 48%;
    border: 3px solid transparent;
    border-image: linear-gradient(#f4ce76 , #caa15e);
    border-image-slice: 1;
    padding: 50px 15px 15px 15px;
    text-align: center;
    position: relative;
}
.shares-title-page-text {
    font-weight: bold;
    text-align: left;
}
.shares-title-page-text span {
    font-size: 20px;
    display: block;
}
.shares-align-center {
    display: inline-block;
    position: absolute;
    top: -24px;
    right: 22%;
}
@media (min-width: 768px) {
    .navbar-nav {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
@media (min-width: 1200px) {
    .container {
        padding-right: 0;
        padding-left: 0;
    }
    .modal-lg {
        width: 1050px;
    }
}
@media(max-width: 1199px) {
    .tree-banner-block img {
        height:500px;
    }
    .shares-item-block {
        width: 44%;
        margin-bottom: 20px;
    }
    .shares-link-flex-block {
        justify-content: center;
        margin-top: 60px;
    }
    .catalog-flex-block {
        flex-wrap: wrap;
        align-items: flex-start;
        padding-bottom: 30px;
    }
    .catalog-gallery {
        width: 33%;
        margin-top: 0;
        margin-bottom: 0;
    }
    .catalog-items-block {
        width: 67%;
    }
    .catalog-property {
        width: 100%;
    }
    .catalog-items-min {
        width: 9%;
    }
    .price-block-stage {
        display: inline-block;
        width: 33%;
        margin: 0 0 20px 0;
        align-items: flex-start;
        position: absolute;
        top: -84px;
    }
    .catalog-property {
        padding-right: 15px;
        display: flex;
        position: relative;
        justify-content: space-between;
        margin-top: 40px;
        align-items: center;
    }
    .catalog-property .table-property {
        width: 60%;
        margin-bottom: 0;
    }
    .deliery-list-icon {
        margin-bottom: 5px;
    }
    .deliery-list-item {
        margin-bottom: 10px;
    }
    .delivery-list-block {
        bottom: 80px;
        right: 115px;
    }
    .send-modal-title img {
        width: 124.7%;
    }
    .send-modal-info {
        width: 35%;
    }
    .send-modal-goods {
        width: 65%;
    }
    .tree-banner-block {
        margin-bottom: 0px;
    }
    .shares-center-right {
        margin-bottom: 50px;
    }
}
@media(max-width: 991px) {
    .shares-block-flex {
        flex-wrap: wrap;
        align-items: normal;
        justify-content: space-between;
        margin: 0;
    }
    .hand-back {
        padding-left: 0%;
    }
    .flex-catalog-items-title-block {
        width: 48%;
    }
    .header-logo img {
        width: 150px;
    }
    .cart-absolut-number {
        color: #000;
    }
    .header-icon {
        margin-right: 15px;
    }
    .header-flex-block {
        font-size: 14px;
        padding-top: 10px;
    }
    .container-relative {
        padding: 0;
    }
    .navbar-nav > li {
        margin-right: 5px;
    }
    .description-banner-block {
        left: 0;
        top: 190px;
    }
    .flex-advantages {
        flex-wrap: wrap;
        justify-content: center;
    }
    .advantages-item {
        width: 26%;
        margin: 14px 10px;
    }
    .advantages-item:nth-child(4) .description-advantages, .advantages-item:nth-child(5) .description-advantages {
        border-left: 3px solid #e2e2e2;
        width: 100px;
        right: 38%;
        padding-left: 15px;
        padding-top: 16px;
        top: auto;
    }
    .advantages-item:nth-child(4) .description-advantages .description-relative {
        position: relative;
        top: 27px;
    }
    .advantages-item:nth-child(1) .description-advantages, .advantages-item:nth-child(3) .description-advantages {
        top: -54px;
    }
    .advantages-item:nth-child(1) .description-advantages .description-relative, .advantages-item:nth-child(3) .description-advantages .description-relative {
        top: -16px;
    }
    .image-baggage-desktop {
        display: none;
    }
    .image-baggage-tablet {
        display: block;
    }
    .orange-baggage-back .container {
        padding: 0;
    }
    .orange-baggage-back img {
        bottom: 0;
    }
    .flex-instagram {
        width: 80%;
    }
    .footer-logo img {
        width: 185px;
    }
    .footer-btn button {
        padding: 5px 7px;
        background-color: transparent;
        border: 2px solid #000;
        border-radius: 50px;
        font-size: 12px;
    }
    .modal-dialog {
        width: 98%;
    }
    .goods-modal-img {
        width: 11%;
    }
    .send-modal-info {
        width: 34%;
    }
    .send-modal-goods {
        width: 66%;
    }
    .goods-information-block {
        width: 86%;
    }
    .goods-property-modal td {
        padding: 5px 10px 5px 0;
    }
    .footer-logo {
        bottom: 40px;
    }
    .contact-flex-block {
        flex-direction: column;
    }
    .contact-col-info {
        width: 100%;
    }
    .contact-col-map {
        width: 100%;
    }
    .header-work-time-block, .header-address-block, .header-phone {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .header-icon {
        margin-right: 0;
        margin-bottom: 5px;
    }
    .header-logo {
        width: auto;
    }
    .header-page {
        padding: 30px 0;
    }
    .header-flex-block {
        padding-top: 0;
    }
    .rabs label {
        font-size: 16px;
        padding: 4px 10px;
    }
    .delivery-list-block {
        bottom: 70px;
        right: 70px;
    }
    .shares-image-santa img {
        width: 100%;
    }
    .shares-image-santa {
        width: 30%;
    }
    .shares-link-flex-block {
        width: 69%;
    }
    .shares-item-block {
        margin-left: 10px;
        width: 46%;
    }
    .shares-item-title {
        bottom: 30px;
    }
    .tree-banner-block img {
        height: auto;
        width: 100%;
    }
    .btn-catalog-buy .main-button-catalog {
        white-space: nowrap;
    }
    .video-flex-block {
        width: 80%;
    }
    .absolut-trees {
        top: 50px;
        left: -7px;
        height: 400px;
    }
    .image-responsive {
        width: 81%;
    }
    .main-button-obj {
        font-size: 12px;
    }
    .button-banners-center {
        bottom: 26px;
    }
    .button-banners-right {
        bottom: 0;
    }
    .main-button-obj-center {
        right: 14%;
    }
    .send-modal-info {
        background-size: auto 100%;
    }
    .send-modal-title img {
        width: 126%;
    }
    .send-modal-title img {
        width: 132%;
    }
    .send-modal-info {
        padding: 10px;
    }
    .send-modal-title img {
        width: 107%;
        margin-left: -10px;
    }
    .card-title-sum {
        width: 100px;
        text-align: right;
    }
    .button-close-modal a {
        white-space: nowrap;
        margin-right: 15px;
    }
}
@media(max-width: 767px) {
    .footer-flex-block {
        flex-wrap: wrap;
        margin: 10px 0px;
    }

    .description-banner-block h1 {
        padding: 0 20px;
        font-size: 24px;
        margin-bottom: 40px;
    }

    .description-banner-block {
        width: 100%;
        top: 170px;
    }

    .main-button-catalog {
        font-size: 16px;
    }
    .header-logo img {
        width: 160px;
    }
    .navbar-default {
        position: inherit;
        width: 50%;
        text-align: right;
    }
    .header-page {
        padding: 10px 0;
    }
    .header-cart {
        align-items: center;
        padding-left: 0;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }
    .cart-absolut-number {
        right: -10px;
        top: -6px;
    }
    .container-relative {
        padding: 0 15px;
    }
    .navbar-toggle {
        margin: 0;
    }
    .navbar-toggle {
        float: none;
    }
    .navbar-default .navbar-toggle {
        border: none;
        margin-left: 10px;
    }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background-color: transparent;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background: linear-gradient(to right, #fcab48, #b27f41);
    }
    .navbar-toggle .icon-bar {
        width: 50px;
        height: 6px;
    }
    .header-flex-block {
        flex-wrap: wrap;
    }
    .header-logo {
        width: 50%;
    }
    .cart-sum-block {
        margin-bottom: 3px;
    }
    .center-image-banner img {
        height: 510px;
    }
    .navbar-default .navbar-collapse {
        border: none;
        width: 100%;
        left: 0;
        top: 115px;
        text-align: center;
    }
    .navbar-default .navbar-nav > .active a::after {
        background-image: none;
    }
    .navbar-collapse {
        position: absolute;
    }
    .navbar-nav {
        margin: 0;
        column-count: 1;
        width: 100%;
        background-color: #fff;
        z-index: 11122;
        position: relative;
    }
    .suitcase-certificate-title h2 {
        font-size: 20px;
    }
    .suitcase-certificate-desk {
        font-size: 16px;
    }
    .suitcase-certificate-block {
        width: 48%;
    }
    .suitcase-image {
        width: 48%;
    }
    .suitcase-certificate-block .main-button-catalog {
        font-size: 14px;
        width: 100%;
        padding: 10px;
    }
    .suitcase-certificate-desk {
        font-weight: bold;
        margin: 20px 0;
    }
    .suitcase-flex {
        padding-bottom: 10px;
    }
    .catalog-flex-block {
        flex-wrap: wrap;
    }
    .catalog-gallery {
        width: 100%;
    }
    .catalog-property {
        width: 100%;
        padding-left: 0;
        border: none;
    }
    .size-title {
        float: none;
        position: relative;
    }
    .form .rabs {
        flex-wrap: wrap;
    }
    .rabs label {
        font-size: 16px;
        border: 2px solid transparent;
    }
    .price-block-stage {
        font-size: 18px;
    }
    .btn-catalog-buy .main-button-catalog img {
        width: 20px;
    }
    .price-block-stage {
        width: 100%;
        position: inherit;
        margin-top: 20px;
        display: block;
    }
    .btn-catalog-buy .main-button-catalog {
        margin-right: 20px;
    }
    .price-block-stage img {
        width: 42px;
        top: 2px;
        right: -24px;
    }
    .table-property td {
        padding: 7px 20px 7px 0;
    }
    .flex-catalog-items-title-block {
        width: 100%;
    }
    .catalog-items-title {
        text-align: left;
    }
    .catalog-items-min {
        width: 14%;
    }
    .advantages-item {
        width: 42%;
        margin-bottom: 50px;
    }

    .description-relative {
        font-size: 12px;
    }

    .flex-advantages {
        margin: 100px 0 20px 0;
    }

    .orange-baggage-back {
        height: auto;
        margin-bottom: 0;
    }
    .bold-bottom-text {
        font-size: 18px;
    }
    .bottom-text-center p {
        font-size: 14px;
    }
    .footer-logo img {
        width: 100px;
    }
    .footer-logo {
        width: 100%;
    }
    .footer-links {
        column-count: 1;
        width: 100%;
        font-size: 18px;
        text-align: center;
        margin-bottom: 20px;
    }

    .footer-address {
        width: 100%;
        font-size: 16px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .social-links {
        margin-bottom: 0;
    }

    .footer-social {
        display: flex;
        align-items: center;
    }

    .copyright-block {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .send-modal-flex {
        flex-direction: column;
    }

    .send-modal-goods {
        width: 100%;
        padding: 15px 6px;
    }

    .send-modal-info {
        width: 100%;
    }

    .cart-order-block {
        top: 0;
        margin-right: 10px;
    }

    .send-title {
        font-size: 16px;
    }

    .send-title-block {
        justify-content: space-between;
    }

    .modal-content {
        border: 15px solid rgba(253, 195, 46, 0.7);
    }

    .modal-dialog {
        width: 94%;
    }

    .goods-property-modal-title {
        font-size: 16px;
    }

    .goods-property-modal {
        font-size: 12px;
    }

    .goods-property-modal table {
        width: 90%;
    }

    .goods-property-modal td {
        padding: 5px 5px 5px 0;
    }

    .modal-goods-price {
        white-space: nowrap;
        padding: 5px 0;
    }

    .modal-goods-number {
        padding: 5px 0;
    }

    .button-close-modal a {
        font-size: 12px;
        padding: 6px 10px;
    }

    .price-sum {
        font-size: 12px;
    }

    .send-modal-title {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .share-page-block {
        flex-wrap: wrap;
    }
    .share-col {
        width: 100%;
    }
    .banner-description {
        padding: 0 20px;
    }
    .navbar-toggle .icon-bar:nth-of-type(2) {
        top: 1px;
    }
    .navbar-toggle .icon-bar:nth-of-type(3) {
        top: 2px;
    }
    .navbar-toggle .icon-bar {
        position: relative;
        transition: all 200ms ease-in-out;
    }
    .navbar-toggle.active .icon-bar:nth-of-type(1) {
        top: 14px;
        transform: rotate(45deg);
    }
    .navbar-toggle.active .icon-bar:nth-of-type(2) {
        background: transparent;
    }
    .navbar-toggle.active .icon-bar:nth-of-type(3) {
        top: -6px;
        transform: rotate(-45deg);
    }
    .owl-dots {
        width: 100%;
        text-align: center;
        position: absolute;
        top: -46px;
    }
    .owl-dot {
        width: 16px;
        height: 16px;
        background-color: #fff;
        border: 2px solid #e2b969;
        border-radius: 10em;
        display: inline-block;
        margin: 10px;
        transition: background-color .5s ease, transform .5s ease;
    }
    .owl-dot.active {
        background-color: #e2b969;
        border: 2px solid #e2b969;
    }
    .owl-carousel {
        margin-top: 40px;
    }
    .btn-banners-block {
        width: 100%;
        text-align: center;
    }
    .main-button-obj {
        right: 34%;
    }
    .button-banners-center {
        bottom: 40px;
    }
    .catalog-items-block {
        width: 100%;
        box-shadow: none;
    }
    .table-property {
        margin-bottom: 20px;
        margin-left: 0;
    }
    .shares-image-santa {
        width: 42%;
    }
    .shares-link-flex-block {
        width: 100%;
    }
    .shares-item-block {
        margin-left: 0;
        margin-bottom: 40px;
        width: 100%;
    }
    .shares-center {
        margin-top: 0;
    }
    .nav-tabs > li:nth-child(2) {
        border-left: 1px solid #e2e2e2;
        border-right: 1px solid #e2e2e2;
    }
    .catalog-flex-block {
        box-shadow: none;
    }
    .delivery-list-block {
        position: initial;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .delivery-block-image {
        margin-bottom: 20px;
    }
    .deliery-list-item {
        width: 40%;
        margin: 15px 10px;
    }
    .video-text {
        position: initial;
        transform: initial;
        margin-bottom: 20px;
    }
    .video-flex-block {
        width: 90%;
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 20px;
    }
    .footer-logo img {
        width: 100%;
    }
    .footer-address-item {
        flex-direction: column;
        align-items: center;
        width: 90%;
    }
    .footer-address-item img {
        margin-right: 0;
    }
    .footer-page {
        padding: 20px 0;
    }
    .footer-img-top {
        margin-top: -50px;
    }
    .video-block {
        margin-bottom: 50px;
    }
    .catalog-flex-block {
        padding-bottom: 0;
    }
    .nav-tabs > li > a {
        padding: 10px 5px;
    }
    .shares-center-right {
        text-align: center;
        width: 55%;
        color: #000;
    }
    .delivery-list-block p {
        margin-top: 20px;
    }
    body {
        background-image: none;
    }
    .goods-scroll {
        height: 270px;
    }
    .price-sum {
        flex-wrap: wrap;
    }
    .button-close-modal {
        text-align: center;
    }
    .button-close-modal a {
        margin-right: 0;
    }
    .card-title-sum {
        right: 0px;
        top: 4px;
        position: absolute;
    }
    .send-modal-title img {
        width: 103%;
    }
    .send-modal-info {
        background-size: 100%;
    }
    .banner-img-block img {
        margin: 30px 0px;
    }
    .navbar-nav > li:hover a::after {
        background-image: none;
    }
    .nav-tabs > li {
        width: 33%;
    }
    .nav-tabs > li > a span {
        font-size: 12px;
    }
    .shares-image-santa {
        bottom: 0;
    }
}